span {
    display:block
}
.divsize {
    width: 300px;
    height: 200px;
    background-size: 300px 200px;
}
#cat {  
    background-image: url(/cat1.jpg);
    background-size: 300px 200px;
}
#bird1 {
    background-image: url(/bird.jpg);
    background-size: 300px 200px;
}
#bird2 {  
    background-image: url(/cat1.jpg);
    background-size: 300px 200px;
}