[type="text"] {
    color: blue;
}
[type="email"] {
    border: 1px solid green;
}
:hover[type="password"] {
    border: 1px solid green;
}
input:focus {
    border: 1px solid grey;
}
input[type="checkbox"]:checked +label {
    background-color:green;
}
input[type="checkbox"] +label {
    background-color:red;
}

